<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/dash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>  
</head>
<body>
    <div class="sidebar">
        <a href="#" class="navbar-brand d-flex align-items-center justify-content-center fw-bolder">
            <span class="nav-item">PhinmaEduHub</span>
        </a>
        <a href="{{url_for('dashboard_teacher')}}">
            <i class="fas fa-home"></i>
            <span class="nav-item">Dashboard Overview</span>
        </a>
        <a href="#">
            <i class="fas fa-user"></i>
            <span class="nav-item">My Profile</span>
        </a>
        <a href="#">
            <i class="fas fa-pencil-alt"></i>
            <span class="nav-item">Manage Quizzes</span>
        </a>
        <a href="#">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Manage Assignments</span>
        </a>
        <a href="{{url_for('dash_teach_tools')}}">
            <i class="fas fa-tools"></i>
            <span class="nav-item">Teaching Resources</span>
        </a>
        <a href="#">
            <i class="fas fa-chart-line"></i>
            <span class="nav-item">Student Performance</span>
        </a>
        <a href="#">
            <i class="fas fa-cogs"></i>
            <span class="nav-item">Account Settings</span>
        </a>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="nav-item">Help & Support</span>
        </a>
        
        <div class="logout-container">
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="btn btn-logout w-100">
                    <span>Log Out</span> 
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>    
    <section class="main">
        <div class="main-top">
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        </div>

        <section class="course top-0">
            <div class="greetings-box">
                <h2>Goodmoring, John</h2>
            </div>
        </section>

        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-2" style="background-color: aqua;">
                    <p>Col</p>
                </div>
                <div class="col-2" style="background-color: aqua;">
                    <p>Col</p>
                </div>
                <div class="col-2" style="background-color: aqua;">
                    <p>Col</p>
                </div>
                <div class="col-2" style="background-color: aqua;">
                    <p>Col</p>
                </div>
            </div>
        </div>
</body>
</html>
