{% extends 'maindashboard-admin.html' %} {% block title %} Profile Admin |
Upgraded {% endblock title %} {% block body %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
          >
            {% if admin_records and admin_records[0][7] %}
            <img
              src="{{ admin_records[0][7] }}"
              class="rounded-circle"
              name="profile"
              alt="Profile"
              style="width: 120px; height: 120px"
            />
            {% else %}
            <img
              id="profile-preview"
              src="/static/images/Defaul_Image.png"
              class="rounded-circle"
              name="profile"
              alt="Profile"
              style="width: 120px; height: 120px"
            />
            {% endif %}
            <h2>{{ admin_records[0][1] }} {{ admin_records[0][3] }}</h2>
            <h3>{{ admin_records[0][5] }}</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                >
                  Overview
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-edit"
                >
                  Edit Profile
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-settings"
                >
                  Settings
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-change-password"
                >
                  Change Password
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">
                    {{ admin_records[0][1]}} {{ admin_records[0][2]}} {{
                    admin_records[0][3]}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Role</div>
                  <div class="col-lg-9 col-md-8">{{ admin_records[0][5] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ admin_records[0][8] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">
                    {% if admin_records[0][9] == "" or admin_records[0][9] is
                    none %} N/A {% else %} {{ admin_records[0][9] }} {% endif %}
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Account status</div>
                  <div class="col-lg-9 col-md-8">
                    <span
                      class="{% if admin_records[0][10] == 'Active' %}badge bg-success{% else %}badge bg-danger{% endif %}"
                    >
                      {{ admin_records[0][10] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Profile Edit Form -->
                <form
                  action="/updateAdmin_profile"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="row mb-3">
                    <label
                      for="profileImage"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Profile Image</label
                    >

                    <div class="col-md-8 col-lg-9">
                      <!-- If admin_record exists, display it -->
                      {% if admin_records and admin_records[0][7] %}
                      <img
                        id="profile-preview"
                        src="{{ admin_records[0][7] }}"
                        class="rounded-circle"
                        name="profile"
                        alt="Profile"
                        style="width: 120px; height: 120px"
                      />
                      {% else %}
                      <img
                        id="profile-preview"
                        src="/static/images/Defaul_Image.png"
                        class="rounded-circle"
                        name="profile"
                        alt="Profile"
                        style="width: 120px; height: 120px"
                      />
                      {% endif %}

                      <div class="pt-2">
                        <!-- Upload button with a file input -->
                        <label
                          for="file-upload_account_settings"
                          class="btn btn-primary btn-sm"
                          title="Upload new profile image"
                        >
                          <i class="bi bi-upload" style="color: white"></i>
                        </label>
                        <input
                          id="file-upload_account_settings"
                          type="file"
                          name="file"
                          accept="image/*"
                          style="display: none"
                        />
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          id="delete-image-btn"
                          title="Remove my profile image"
                        >
                          <i class="bi bi-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="admin_id"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Id
                    </label>
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="admin_id"
                        type="text"
                        class="form-control readonly-input"
                        id="admin_id"
                        value="{{ admin_records[0][0] }}"
                        onclick="alert('This section is not editable.')"
                        )
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="first_name"
                      class="col-md-4 col-lg-3 col-form-label"
                      >First Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="first_name"
                        type="text"
                        class="form-control"
                        id="first_name"
                        value="{{ admin_records[0][1] }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="middle_name"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Middle Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="middle_name"
                        type="text"
                        class="form-control"
                        id="middle_name"
                        value="{{ admin_records[0][2] }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="last_name"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Last Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="last_name"
                        type="text"
                        class="form-control"
                        id="last_name"
                        value="{{ admin_records[0][3] }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="user_name"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Username</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="user_name"
                        type="text"
                        class="form-control"
                        id="user_name"
                        value="{{ admin_records[0][4] }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label"
                      >Email</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="email"
                        type="email"
                        class="form-control"
                        id="email"
                        value="{{ admin_records[0][8] }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                      >Phone</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="phone"
                        type="tel"
                        class="form-control"
                        pattern="63\+\d{3}-\d{4}-\d{3}"
                        placeholder="63+123-4567-890"
                        id="phone"
                        value="{{ admin_records[0][9]}}"
                        placeholder="Enter your contact number"
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                  </div>
                </form>
                <!-- End Profile Edit Form -->
              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">
                <!-- Settings Form -->
                <form action="/Email_settings">
                  <div class="row mb-3">
                    <label
                      for="fullName"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Email Notifications</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="changesMade"
                          checked
                        />
                        <label class="form-check-label" for="changesMade">
                          Changes made to your account
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="new Courses"
                          checked
                        />
                        <label class="form-check-label" for="new Courses">
                          Information on new courses and learning materials
                          added
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="new_users"
                        />
                        <label class="form-check-label" for="new_users">
                          New teacher and students added
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="securityNotify"
                          checked
                          disabled
                        />
                        <label class="form-check-label" for="securityNotify">
                          Security alerts
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                  </div>
                </form>
                <!-- End settings Form -->
              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form action="admin_change/password" method="post">
                  <div class="row mb-3">
                    <label
                      for="currentPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Current Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="currentPassword"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="newPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >New Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="newpassword"
                        type="password"
                        class="form-control"
                        id="newPassword"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="renewPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Re-enter New Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="renewpassword"
                        type="password"
                        class="form-control"
                        id="renewPassword"
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Change Password
                    </button>
                  </div>
                </form>
                <!-- End Change Password Form -->
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document
      .getElementById("file-upload_account_settings")
      .addEventListener("change", function (event) {
        var file = event.target.files[0]; // Get the selected file
        if (file) {
          var reader = new FileReader(); // Create a FileReader object
          reader.onload = function (e) {
            // Set the src attribute of the image to the file content
            document.getElementById("profile-preview").src = e.target.result;
          };
          reader.readAsDataURL(file); // Convert the file to a data URL
        }
      });

    document
      .getElementById("delete-image-btn")
      .addEventListener("click", function () {
        if (confirm("Are you sure you want to delete your profile image?")) {
          fetch("/delete_profile_image_admin", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ admin_id: "{{ admin_records[0][0] }}" }), // Send student ID
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                location.reload();
                document.getElementById("profile-preview").src =
                  "/static/images/Defaul_Image.png"; // Set to default image
              } else {
                location.reload();
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        }
      });
  </script>
</main>
<!-- End #main -->

{% endblock body %}
